/* document */
@font-face {
  font-family: "VT323";
  src: url("fonts/VT323-Regular.ttf") format("truetype");
}

html {
  --color-fg: #000F41;
  /* Emmaus dark-blue */
  --color-bg: #EE811B;
  /* Emmaus orange */
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: VT323;
  scroll-behavior: smooth;
  margin: 0px;
}

/* Hide scrollbar */
html::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}

html {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body {
  margin: 10px;
}

a:link,
a:visited {
  color: inherit;
}
a:focus {
  outline: none;
}

/* top */

.top {
  font-size: xx-large;
}

.top {
  display: block;
  margin: auto;
  text-align: center;
}

.top-banner img {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 1600px;
  animation: glow 1s infinite alternate;
}

@keyframes glow {
  from {
    filter: drop-shadow(0 0 1rem white);
  }

  to {
    filter: drop-shadow(0 0 0rem white);
  }
}

/* image gallery
   modified example taken from w3school.org
 */

.games .gallery-container {
  font-size: xx-large;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.games .gallery-item {
  margin: 10px;
  box-shadow: 3px 2px 50px 1px rgba(255, 255, 255, 0.00);
  background-color: var(--color-fg);
}

.games .gallery-item a {
  display: block;
  width: 300px;
  height: 250px;
  transform: scale(1);
  filter: brightness(0.3);
  transition: all 0.3s;
}

.games .gallery-item a:focus {
  transform: scale(0.95);
  filter: brightness(1);
  box-shadow: 3px 2px 50px 1px rgba(255, 255, 255, 0.90);
}

.games .gallery-item-img {
  display: block;
  width: 100%;
  aspect-ratio: 16 /9;
}

.games .gallery-item-desc {
  width: 100%;
  height: 81.25px;
  /* 250 - 300 / (16/9) = 81.25; this value shouldn't be hard coded */
  text-align: center;
  background-color: var(--color-bg);
}

/* bottom */

.bottom {
  font-size: small;
}

.bottom table {
  width: 100%;

}

/* help banner
   created with chat-gpt
 */

#banner {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  max-width: 100%;
  max-height: 100%;
  opacity: 0;
  transition: opacity 5s;
  box-shadow: 3px 2px 50px 1px rgba(255, 255, 255, 0.90);
}
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 5s;
}